::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div{
  display: flex;
  flex-direction:column;
  align-items:flex-start;
}

.fillScreen {
  width: stretch;
}

.genInfoForm {
  display: grid;
  gap: 0.5em;
  grid-template-areas: 
    "nameLabel . nameInput"
    "emailLabel . emailInput"
    "phoneLabel . phoneInput"
    ". . submit";
  grid-template-columns: .5fr 0.5em 1fr;
  margin: 1em 0em;
  width: 25em;
}

.genInfoForm label {
  grid-column: 1;
  text-align: right;
}

.genInfoForm input {
  grid-column: 3;
}

#genInfoFormSubmit  {
  grid-area: submit;
}